[submodule "src/household_objects_database_msgs"]
	path = src/household_objects_database_msgs
	url = https://github.com/ros-interactive-manipulation/household_objects_database_msgs
	branch = hydro-devel
[submodule "src/manipulation_msgs"]
	path = src/manipulation_msgs
	url = https://github.com/ros-interactive-manipulation/manipulation_msgs.git
	branch = hydro-devel
[submodule "src/srdfdom"]
	path = src/srdfdom
	url = https://github.com/ros-planning/srdfdom.git
	branch = indigo-devel
[submodule "src/warehouse_ros"]
	path = src/warehouse_ros
	url = https://github.com/ros-planning/warehouse_ros.git
[submodule "src/moveit_resources"]
	path = src/moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
[submodule "src/joystick_drivers"]
	path = src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "src/moveit"]
	path = src/moveit
	url = https://github.com/ros-planning/moveit.git
[submodule "src/urdf_parser_py"]
	path = src/urdf_parser_py
	url = https://github.com/ros/urdf_parser_py
	branch = melodic-devel
